.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    display: flex; /* if came multiple images it show row ways  */
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{ /* it hide the scrole bar */
    display: none;
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    border-radius: 10px;
    cursor: pointer;
}
/* img:hover.smallPoster{
    max-height: 160px;
    transition: 'transform 4.1s ease';
    transform: scale(1);
} */