.row{
    margin-left: 20px;
    color: #fff;
    overflow-x: scroll;
}

.posters{
    display: flex; /* if came multiple images it show row ways  */
    padding: 20px;
}

.posters::-webkit-scrollbar{ /* it hide the scrole bar */
    display: none;
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform .5s;
}

.smallPoster{
    max-height: 150px;
    margin-right: 10px;
    /* border-radius: 10px; */
    cursor: pointer;
    transition: transform 0.5s;
}
img:hover.smallPoster{
    transform: scale(1.05);
}
img:hover.poster{
    transform: scale(1.03);
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(1,1,1,1);
    align-items: center;
}

.videoContainer{
    margin-inline: 20px;
}
.close{
    display: flex;
    color: #ff0000;
    top: 0px;
    padding: 25px;
    margin-inline-end: 20px;
    font-size:30px
}
.close:hover{
    cursor: pointer;
}
.modalBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    z-index: 9999; /* Higher z-index than the modal */
  }